* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-family: "Fredoka", sans-serif;
}

body {
  margin: 0;
  background: url("./assets/intro-bg.jpg");
  background-attachment: fixed;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
}
